body {
  background-color: #ffffff;
  color: #333333;
}

h1 {
  font-size: 3rem;
}

button {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  background: none;
  border: none;
  transition: 0.2s;
  margin: 0 5px;
}

button:hover{
  color: rgb(0, 0, 0);
    background: #e5e2e2;
}
